/*
#KSS

The kss styleguide styleguide

Styleguide kss 1
*/
.layout-kss {
  display: flex;
  width: 98%;
}
.layout-kss__sidebar {
  flex: 1 0 15%;
  padding: 1rem;
}
.layout-kss__main {
  flex: 1 0 85%;
}

/*
#KSS menu

Sidebarnavigation for the styleguide

Markup:
<ul class="kssmenu">
  <li class="kssmenu__item"><a href="#">Typograpghy</a></li>
  <li class="kssmenu__item"><a href="#">Images</a></li>
  <li class="kssmenu__item"><a href="#">Colors</a></li>
</ul>

Styleguide kss 2
*/
.kssmenu {
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}
.kssmenu__item {
  list-style: none;
}
.kssmenu__item a {
  display: block;
  padding: 0.3rem;
  border-bottom: 1px solid #e5e5e5;
  color: #4f9fcf;
  text-decoration: none;
}
.kssmenu__item a:hover {
  background: #e3edf2;
}
.kssmenu__item:last-child a {
  border: none;
}
/*
#KSS Header section

Header for kss sections

Markup:
<section class="kss">
<header class="kss__header">
<h3 class="kss__title">{{ section.title }}</h3>
<div class="kss__file"> {{ 'file'|t }}: {{ section.filename }}</div>
</header>
<article class="kss__main">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</article>

Styleguide kss 3
*/
.kss {
  padding: 0 0 2rem 1rem;
  font-family: sans-serif;
}
.kss__header {
  padding: 0.5rem 1rem 0.5rem 0;
  border-bottom: 1px solid #f0f0f0;
}
.kss__title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.kss__file {
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 20px;
  color: #4f9fcf;
}

.kss__main {
  display: flex;
  margin-top: 0.5rem;
  padding: 15px;
  background: #f7f7f7;
}
.kss__description {
  flex: 1 0 66%;
  font-size: 0.8rem;
  line-height: 1.4;
}
.kss__status {
  flex: 1 0 33%;
  font-size: 0.8rem;
}

/*
#Selectors

Selector variants

Markup:
<article class="kss__selector">
<h3 class="kss__name">name</h3>
<div class="kss__example">[code]</div>
<div class="kss__info">lorem upsum</div>
</article>

Styleguide kss 4
*/
.kss__selector {
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
}
.kss__main + .kss__selector {
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}
.kss__selector-header {
  margin-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}
.kss__name {
  display: inline-block;
  margin: 0 0 0.5rem 0;
  color: #4f9fcf;
}
.kss__extended,
.kss__info {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
}

/*
#Markup

Markup - uses prism for styling the actual code (http://prismjs.com/)

Markup:
<article class="kss__markup">
<h3>{{ 'Markup'|t }}</h3>
<pre><code class="language-html">{{ section.markup }}</code></pre>
</article>

Styleguide kss 5
*/
.kss__markup {
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 0 0 0.25rem 0.25rem;
  background: #f7f7f7;
}
.kss__markup code {
  color: black;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.7rem;
  line-height: 1.5;
  white-space: pre;
}
.kss__markup pre {
  overflow: auto;
  margin: 0;
  padding: 1em;
}
