{#
/**
 * @file
 * Default theme implementation for the kss styleguide.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - kss_sections: An array of all sections
 *
 * @see template_preprocess_kss_styleguide()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('layout-kss') }}>

  {# Navigation #}
  <nav class="layout-kss__sidebar">
    <h2 class="visually-hidden">{{ nav_heading }}</h2>
    <ul class="kssmenu">
      {% for section in kss_sections %}
        <li class="kssmenu__item">
          <a href="#kss-section-{{ section.title }}">{{ section.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div{{ content_attributes.addClass('layout-kss__main') }}>

  {% for section in kss_sections %}

    <section class="kss" id="kss-section-{{ section.title }}">

      {# title & fileinfo #}
      <header class="kss__header">
        <h2 class="kss__title">{{ section.title }}</h2>
        <div class="kss__file">
          {{ section.filename }}
          ({{ section.reference }})
        </div>
      </header>

      {# Description & status #}
      <article class="kss__main">

        <div class="kss__description">
          {{ section.description }}
        </div>

        {# kss status #}
        <div class="kss__status">
          {% if section.deprecated %}
            <div class="kss__deprecated"><b>Deprecated</b>: {{ section.deprecated }}</div>
          {% endif %}

          {% if section.experimental %}
            <div class="kss__experimental"><b>Experimental</b>: {{ section.experimental }}</div>
          {% endif %}

          {% if section.compatibility %}
            <div class="kss__compatibility"><b>Compatibility</b>: {{section.compatibility}}</div>
          {% endif %}
        </div>

      </article>

      {# printed example #}
      {% if section.markup %}
        <article class="kss__selector">
          <div class="kss__example">
            {{ section.markup|raw }}
          </div>
        </article>
      {% endif %}

      {# selectors #}
      {% if section.modifiers|length > 0 %}
        {% for modifier in section.modifiers %}
          <article class="kss__selector">

            <header class="kss__selector-header">
              <h3 class="kss__name">{{ modifier.name }}</h3>

              {% if modifier.description != '' %}
                <div class="kss__info">
                  {{ modifier.description }}
                </div>
              {% endif %}

              {% if modifier.extender %}
                <div class="kss__extended">
                  @extend {{ modifier.extendedClass }}
                </div>
              {% endif %}
            </header>

            <div class="kss__example">
              {{ modifier.exampleHtml(section.markup)|raw }}
            </div>

          </article>
        {% endfor %}
      {% endif %}

      {# Markup #}
      {% if section.markup %}
        <article class="kss__markup">
          <pre><code class="language-html">{{ section.markup }}</code></pre>
        </article>
      {% endif %}

    </section>

  {% endfor %}
  </div>
</div>
